.carousel-container {
  overflow: hidden;
  width: 100%;
}

.animate-scroll {
  display: flex;
  gap: 20px;
  animation: scroll 25s linear infinite;
  animation-play-state: running; /* corre por defecto */
}

/* Pausa la animación al hacer hover sobre cualquier logo */
.carousel-container:hover .animate-scroll {
  animation-play-state: paused;
}

/* Animación de scroll */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.client-logo {
  object-fit: contain;
  transition: transform 0.3s;
  width: 200px;
}

.client-logo:hover {
  transform: scale(1.1);
}

@media (max-width: 575.98px) {
  .client-logo {
    width: 100px;
    height: auto;
  }
}
