.navbar {
  background-color: rgba(var(--light), 0.5);
  backdrop-filter: blur(5px);

  .form-select {
    height: auto !important;
    background-image: none !important;
    padding: 3px 10px !important;
    cursor: pointer;
    width: auto !important;
  }
}

.navbar-nav .nav-link.active {
  color: rgb(var(--accent)) !important;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: rgb(var(--dark)) !important;
  font-weight: 500;
}

.navbar-toggler {
  color: rgb(var(--dark)) !important;
  border: none !important;

  &:focus {
    box-shadow: none !important;
  }
}
